$purple: #66023C;
$border-color: #e9e7e7;
$box-shadow: 0px 20px 20px rgb(31 47 70 / 8%);
$gradient: linear-gradient(103.56deg, #93C1F9 .07%, #66023C 92.28%);
$grey-text: #565656;
$light-grey-text: #6A6A6A;
$border: 2px solid #F3F3F3;
$blue: #007AFF;
$hover-color: rgba(0, 0, 0, 0.04);
$card_br_low: 18px;
$card_br_high: 12px;
$margin_page: 3rem;
$button_br: 9px;
$page_bg: #EEF2F4;