@import '../../../styles/color.scss';

// .coverSection {
//     position: relative;
//     height: 180px;
//     max-height: 180px;
//     background-color: #FFF;

    .editProfile {
        background-color: #EEF2F4;
        border-radius: 8px;
        border: none;
        color: rgb(0, 0, 0);
        position: absolute;
        height: 2.625rem;
        bottom: -1.3rem;
        right: 3.2rem;

        @media screen and (max-width: 550px) {
            height: 2.4rem;
            font-size: .8rem;
        }

        &:hover {
            background-color: #EEF2F4;
        }
    }

    .coverPhoto {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .profilePhoto {
        position: absolute;
        bottom: -2.8rem;
        left: 3.2rem;
        width: 90px;
        height: 90px;
        border-radius: 25%;
        box-shadow: $box-shadow;

        @media screen and (max-width: 550px) {
            left: 2rem;
            bottom: -2.2rem;
            width: 75px;
            height: 75px;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 25%;
            border: 5px solid #FFF;
            object-fit: cover;
        }
    }
// }